$primary-bg-color: rgb(255, 214, 177);
$primary-h1-color: rgb(15, 15, 15);
$h1-font-size: 20px;
$nav-bg-width: 100%;
$nav-bg-height: 5vh;
$h1-margin-left: 250px;

* {
    padding: 0;
    margin: 0;
}

@mixin posvalues() {
    display: flex;
    text-align: center;
    justify-content: center;
}

.navbar {
    width: $nav-bg-width;
    background-color: $primary-bg-color;
    height: $nav-bg-height;
    @include posvalues();
    flex-direction: row;
    padding: 20px 0 0 0;

    .navbar-brand {
        position: absolute;
        left: 20px;
    }

        .items {
            @include posvalues();
            flex-direction: row;
            text-align: center;
            li {
                margin-left: 100px;
                list-style-type: none;;
            }   
        }  
}

// MODAL STARTS HERE

.modal {
    background-color:rgb(255, 214, 177);
    position: relative;
    top: 170px;
    left: 36.5%;
    width: 650px;
    height: 50vh;
    display: none;

    .modaltext {
        @include posvalues();
        position: relative;
        top: 170px;
        left: -150px;
        margin-bottom: 20px;
    }
}

#modalopen {
    background-color: rgb(255, 255, 255);
    position: relative;
    left: 575px;
    top: -.2vh;
    width: 100px;
    height: 3vh;
    cursor: pointer;


}

#modalclose {
    background-color: rgb(255, 159, 159);
    position: relative;
    left: 540px;
    top: -12vh;
    width: 100px;
    height: 3vh;
    cursor: pointer;
}

@media only screen and (max-width: 950px) { 
  .navbar {
      width: 100%;
  }

}


@media only screen and (max-width: 650px) {
    .navbar {
        width: 100%;
    } 

  
}






